@charset "utf-8";
@import "compass/reset";
@import "compass/css3/images";
@import "fonts";
@import "solarized";
@import "colors";
@import "porting";

html {
  @include background(image-url("noise.png"), radial-gradient(top
  center, circle, $light-main 0%, $dark-main 1000px));

  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

sup {
  font-size: 50%;
  vertical-align: super;
}

pre {
  font-family: "Consolas";
}

body {
  font-family: "Roboto";
}

* {
  box-sizing: border-box;
}

body {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
}

a, sup {
  color: $tertiary;
}

sup {
  font-weight: bold;
}

a:hover {
  color: $secondary;
}

h1 {
  font-size: 24px;
  margin: 20px 0 10px 0;
  font-weight: bold;
  color: $secondary;

  code:not(.highlight) {
    color: $tertiary;
  }

  &:hover {
    .headerlink {
      display: inline-block;
    }
  }
}

h1:first-child {
  margin-top: 0;
}

h2 {
  font-size: 18px;
  margin: 15px 0 5px 0;
  color: $secondary;
  font-weight: bold;

  code:not(.highlight) {
    color: $tertiary;
  }
}

code:not(.highlight) {
  font-family: Consolas;
  color: $secondary;
}

main {
  background: image-url("js-logo.png") no-repeat;
  background-size: 50px 50px;
  background-position: top right;

  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;

  width: 900px;
  margin-bottom: 10px;

  background-color: $cream;
  padding: 15px;
  border-radius: 5px 0 5px 5px;
  box-shadow: 0px 0px 5px 2px $dark-main;

  p:first-child {
    color: $dark-main;
    font-weight: 500;
    margin-top: 3px;
    padding-right: 100px;
    padding-bottom: 15px;
    border-bottom: 1px solid $second-main;

    a {
      color: $dark-main;

      &:hover {
        color: $second-main;
      }
    }
  }

  p, ul, ol {
    color: $dark-main;
    margin: 10px 0;
    line-height: 150%;
  }

  ul, ol {
    margin-left: 20px;
  }

  li {
    list-style-type: disc;
    margin-bottom: 0.7em;
  }

  strong {
    font-weight: bold;
  }
}

div.logo {
  display: flex;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 27px;

  img {
    margin-left: 10px;
    width: 100px;
    height: 100px;
  }

  p {
    -webkit-align-self: flex-end;
    align-self: flex-end;
    margin-left: 10px;
    margin-right: 30px;
    font-family: Lato;
    font-weight: bold;
    font-size: 63px;

    a {
      color: #2F2E2D;
      color: $cream;
      text-shadow: 0 0 5px $dark-main;
      text-decoration: none;
    }
  }
}

#footnote-1 {
  display: block;
  font-size: 90%;
}

img.logo {
  -webkit-align-self: center;
  align-self: center;
  margin-bottom: 10px;
}

pre {
  background: $beige;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid lighten(#93a1a1, 20%);
  border-radius: 4px;
  line-height: 120%;
}

footer {
  margin-top: 10px;
  border-top: 1px solid $secondary;
  padding-top: 10px;
  width: 100%;
  text-align: center;

  a {
    color: $secondary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.headerlink {
  display: none;
  text-decoration: none;
}
